body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f4f4;
}

main {
  max-width: 700px;
  margin: 100px auto;
  padding: 30px;
  text-align: center;
  background: white;
  border-radius: 10px;
}
